// Typography
$base-font-family: "freight", $helvetica;
$heading-font-family: "calluna", $base-font-family;

// Font Sizes
$base-font-size: 1rem;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$red: #C52D2F;
$dark-gray: #393B44;
$medium-gray: #B6B6B6;
$light-gray: #F8F8F8;
$white: #fff;
$black: #000;

// Font Colors
$base-background-color: $white;
$base-font-color: $dark-gray;
$action-color: $red;

// Font Sizes
$font-small: $base-font-size * 0.85;
$font-large: $base-font-size * 1.25;
$font-larger: $base-font-size * 1.5;

// Border
$base-border-color: #DDD;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
