.picks-restaurants {
  background-image: url("/assets/banner-restaurants.png");
}

.picks-coffeeshops {
  background-image: url("/assets/banner-coffeeshops.png");
}

.picks-bars {
  background-image: url("/assets/banner-bars.png");
}
