.toolbar {
  background: $dark-gray;

  .tabs {
    background: $dark-gray;
    border-top: 0;
    padding: 0;

    .tab-item {
      &,
      &:hover,
      &:active,
      &.activated {
        background: $dark-gray center 8px no-repeat;
        border: 0px solid shade($dark-gray, 50%);
        border-right-width: 1px;
        color: $white;
        font-size: 11px;
        margin-top: 0;
        padding-top: 28px;
        opacity: 1;

        &:last-child {
          border-right: none;
        }
      }

      &.tab-item-active {
        background-color: tint($dark-gray, 12%);
        margin-top: 0;
      }

      $icons: explore, picks, summit, health;

      @each $icon in $icons {
        &.tab-#{$icon} {
          background-image: url("/assets/#{$icon}.svg");
        }
      }
    }
  }
}
