.banner {
  align-items: center;
  background-color: $red;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 30vh;
  position: relative;
  z-index: 1;

  &::after {
    @include radial-gradient(center, ellipse cover, rgba($black, 0.35), rgba($black, 0.15));
    @include position(absolute, 0 0 0 0);
    content: "";
    display: block;
    z-index: -1;
  }

  h2 {
    color: $white;
    font-size: $font-larger;
    line-height: 1.5em;
    margin: 0;
    text-align: center;
    text-shadow: 0 1px 3px rgba($black, 0.35);

    &::before,
    &::after {
      @include size(1em 3px);
      content: "";
      border-bottom: 1px solid $white;
      border-top: 1px solid $white;
      display: block;
      margin: 0 auto;
      opacity: 0.66;
    }
  }
}
