.banner {
  align-items: center;
  background-color: $red;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 30vh;
  position: relative;
  z-index: 1;

  &::after {
    @include radial-gradient(rgba($black, 0.25), rgba($black, 0.15));
    @include position(absolute, 0 0 0 0);
    content: "";
    display: block;
    z-index: -1;
  }

  h2 {
    color: $white;
    font-size: 24px;
    line-height: 2em;
    margin: 0;
    text-align: center;

    &::before,
    &::after {
      @include size(1em 3px);
      content: "";
      border-bottom: 1px solid $white;
      border-top: 1px solid $white;
      display: block;
      margin: 0 auto;
    }
  }
}
