.card {
  .item-divider {
    background: $dark-gray;
    border: 1px solid shade($dark-gray, 50%);

    * {
      color: $white;
    }

    .avatar {
      float: right;
      margin: 0.2em 0 0 1em;
    }
  }

  .item-text-wrap {
    background-color: $light-gray;
    border: 1px solid $base-border-color;
    border-top: none;
  }
}
