.card{data-name: "{{ place.name | paramaterize }}", ng-click: "cardClick($event)"}
  .item.item-divider
    %img.avatar{ng-src: "/assets/avatar-{{place.recommendation.by}}.png", ng-show: "place.recommendation.by"}

    %h2 {{ place.name }}

    %p
      %span{ng-show: "place.address"}
        %i.icon.ion-location
        {{ place.address }}

      %span{ng-show: "place.hours.open"}
        %i.icon.ion-clock
        {{ place.hours.open | time }}-{{ place.hours.close | time }}

  .item.item-text-wrap{ng-show: "place.recommendation.name"}
    %p
      %strong< Best Item:
      {{ place.recommendation.name }}

    %p
      %strong< Why I Love It:
      {{ place.recommendation.why }}
