%ion-side-menus
  %ion-pane{ion-side-menu-content: ""}
    %ion-nav-bar.bar-stable.nav-title-slide-ios7
      %ion-nav-back-button.button-clear
        %i.icon.ion-chevron-left Back

    %ion-nav-view{animation: "slide-left-right", name: "menuContent"}

  %ion-side-menu{side: "left"}
    %header.bar.bar-header.bar-stable
      %h1.title Left

    %ion-content.has-header
      %ion-list
        %ion-item{href: "#/app/search", menu-close: "", nav-clear: ""}
          Search
        %ion-item{href: "#/app/browse", menu-close: "", nav-clear: ""}
          Browse
        %ion-item{href: "#/app/playlists", menu-close: "", nav-clear: ""}
          Playlists
