%ion-tabs.tabs-icon-top.tabs-dark.toolbar
  %ion-tab.tab-explore{title: "Explore", ui-sref: "explore"}
  %ion-tab.tab-picks{title: "Our Picks", ui-sref: "picks"}
  %ion-tab.tab-summit{title: "The Summit", ui-sref: "summit"}
  %ion-tab.tab-health{title: "Health", ui-sref: "health"}
