%ion-tabs.tabs-icon-top
  %ion-tab{title: "Explore", ui-sref: "explore", icon: "ion-android-compass"}
  %ion-tab{title: "Our Picks", ui-sref: "picks", icon: "ion-trophy"}
  %ion-tab{title: "The Summit", ui-sref: "summit", icon: "ion-calendar"}
  %ion-tab{title: "Health", ui-sref: "health", icon: "ion-medkit"}
