%ion-scroll
  .banner.banner-health
    %h2 You're a Mile High

  %section.intro
    %p Denver is located 5280 feet above sea level. For most of you, that’s a big deal. We’ve put together a few tips on how you can keep your body happy while visiting the Mile High City.

  %section.section-hydrate
    %h3.section-title Stay Hydrated
    %p The most important thing you can do is stay hydrated. This will help with fatigue, dry skin, and most of the other issues listed below. Dehydration happens fast up here.
    %p thoughtbot will cover your water purchases while you're attending the Summit. Please charge to your company credit card whenever appropriate or save the receipt and request a reimbursement (reimbursements@thoughtbot.com) if you have to pay cash.

  %section.section-oxygen
    %h3.section-title Slow Down
    %p Altitude affects the oxygen content of your blood. You have a tendency to get dizzy, light-headed, and feel tingling if you’re pushing yourself too hard. If you feel any of these slow down, catch your breath, and sip some water.

  %section.section-sun
    %h3.section-title Wear Sunscreen
    %p This is for our Scandinavian friends. The sun is bright here and it definitely can give you sunburn a lot quicker than other places.

  %section.section-drinking
    %h3.section-title Pace Yourself
    %p We know some of you won’t listen (we’re looking at you Gordon & Tony). Due to the lack of oxygen in your blood, alcohol will hit you quicker and harder. Drink slower and make sure you’re hydrated.

  %section.section-weed
    %h3.section-title Be Smart
    %p Yes, it’s legal here, but be smart about it. Don’t do it after, or while, drinking. No smoking in public. If you’re going to eat an edible, be warned they can ruin your day. Start with a small amount (10-20mg), and eat some food to get your metabolism going.
