%section.picks-section
  %a.banner.picks-restaurants{title: "Restaurants", ui-sref: "picks/restaurants"}
    %h2 Restaurants
  %a.banner.picks-coffeeshops{title: "Coffeeshops", ui-sref: "picks/coffeeshops"}
    %h2 Coffeeshops
  %a.banner.picks-bars{title: "Bars & Breweries", ui-sref: "picks/bars"}
    %h2 Bars & Breweries
