%section.picks-section
  %a.banner.picks-restaurants{title: "Restaurants", ui-sref: "list({list: 'restaurants'})"}
    %h2 Restaurants
  %a.banner.picks-coffeeshops{title: "Coffeeshops", ui-sref: "list({list: 'coffeeshops'})"}
    %h2 Coffeeshops
  %a.banner.picks-bars{title: "Bars & Breweries", ui-sref: "list({list: 'bars'})"}
    %h2 Bars & Breweries
