!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width", name: "viewport"}

    %title

    %link{href: "lib/ionic/css/ionic.css", rel: "stylesheet"}
    %link{href: "assets/application.css", rel: "stylesheet"}

    %script{src: "lib/ionic/js/ionic.bundle.js"}
    %script{src: "cordova.js"}
    %script{src: "assets/application.js"}
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true"}

  %body{ng-app: "summit-guide", ng-controller: "MapCtrl"}
    %ion-header-bar.bar-stable
      %h1.title Map

    %ion-content{scroll: "false"}
      %map{on-create: "mapCreated(map)"}

    %ion-footer-bar.bar-stable
      %a.button.button-icon.icon.ion-navigate{ng-click: "centerOnMe()"}
