!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width", name: "viewport"}
    %meta{name:"apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "apple-mobile-web-app-status-bar-style", content: "black"}

    %title Summit Guide

    %link{href: "lib/ionic/css/ionic.css", rel: "stylesheet"}
    %link{href: "assets/application.css", rel: "stylesheet"}
    %link{href: "/assets/apple-touch-icon.png", rel:"icon", sizes:"180x180"}
    %link{href: "/assets/apple-touch-icon.png", rel: "apple-touch-icon", type: "image/x-icon"}

    %script{src: "lib/ionic/js/ionic.bundle.js"}
    %script{src: "cordova.js"}
    %script{src: "assets/application.js"}
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es"}

  %body{ng-app: "summit-guide", ng-controller: "AppController"}
    %app-nav

    %ion-content
      %ion-nav-view
        %ion-view

    %app-toolbar
